body,
html {
  height: 100%;
}

body {
  background-color: var(--color-lighter);
  color: var(--color-darker);
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: var(--color-primary);
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

figure {
  margin: 0;
}

h1 {
  color: var(--color-dark);
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
