.container {
  margin: 0 auto;
  max-width: 1140px;
  padding: 1em 1em;

  @media (--small-viewport) {
    padding: 1em 2em;
  }
}

.center {
  margin: 0 auto;
  text-align: center;
}

.right {
  text-align: right;
}
