/* 2.3. About
   ========================================================================== */

.about p {
	margin: 1em 0;
}

.avatar {
	border: 3px solid #fff;
	border-radius: 100%;
	height: 140px;
	margin: 0 auto;
	overflow: hidden;
	width: 140px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.3);
}

.networks {
	font-size: 3em;
	margin: 0.5em 0;
}

	.networks a {
		color: #0099CC;
	}

	.networks a:hover {
		color: #2871B2;
	}
