/* Header
   __________________________________________________________________________ */

header {
	opacity: 0;
	visibility: hidden;
	width: 100%;

	transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;

    transform: translate3d(0px,5%,0px);
    -moz-transform: translate3d(0px,5%,0px);
    -webkit-transform: translate3d(0px,5%,0px);
}

	/*  Home navigation  */
	.is-home header {
		position: relative;
		z-index: 10;
	    transform: translate3d(0px,60%,0px);
	    -moz-transform: translate3d(0px,60%,0px);
	    -webkit-transform: translate3d(0px,60%,0px);

	    transition-delay: 0.3s;
	    -moz-transition-delay: 0.3s;
	    -webkit-transition-delay: 0.3s;
	}

		/*  Home navigation > hidden links  */
		header .page {
			transition: opacity 0.5s 0.5s;
		    -moz-transition: opacity 0.5s 0.5s;
		    -webkit-transition: opacity 0.5s 0.5s;
		    
			opacity: 1;
			visibility: visible;
		}

		.is-home .page {
			opacity: 0;
			visibility: hidden;

			transition-delay: 0s;
		    -moz-transition-delay: 0s;
		    -webkit-transition-delay: 0s;
		}

	/*  Main navigation  */
	.main-nav {
	    font-size: 1em; /* 16px / 16px */
	}

		.main-nav li {
		    display: inline-block;
		    height: 10%;
		    line-height: 40px;
		    margin: 0 1% 1% 1%;
		    vertical-align: bottom;
		    width: 17%;
		    perspective: 1000;
		    -webkit-perspective: 1000;
		}
			/*  Main navigation > Links */
			.main-nav a {
			    border-bottom: 1px solid #C6C5C1;
			    color: #6C6567;
			    display: block;
			    font-family: 'Raleway', sans-serif;
			    height: 100%;
				text-transform: uppercase;
			    transition: all 0.3s;
			    -webkit-transition: all 0.3s ease-in-out;
			}

			.main-nav a:hover,
			.main-nav a.current {
			    color: #000;
			    border-width: 3px;
			    border-color: #0099CC;
			}

			/*  Main navigation > Logo */
			.is-home .main-nav .logo a {
				height: 120px;
			}
				.logo a {
					background: transparent url(../../../img/misc/logo-v2.png) no-repeat top center;
					background-size: contain;
				    border: none;
				    display: block;
				    padding-top: 0;
				    height: 120px;
				    width: 100%;
				}

					.logo a:hover {
						background-image: url(../../../img/misc/logo-v2-hover.png);
					}


/**
 * Mobile
 * 768px
 */
@media only screen and (max-width: 48em) {
	/*  Mobile > Home navigation  */
	.is-home header {
		position: relative;
		z-index: 10;
	    transform: translate3d(0px,5%,0px);
	    -moz-transform: translate3d(0px,5%,0px);
	    -webkit-transform: translate3d(0px,5%,0px);

	    transition-delay: 0.3s;
	    -moz-transition-delay: 0.3s;
	    -webkit-transition-delay: 0.3s;
	}

		.is-home .main-nav .page {
			display: none;
		}

		.main-nav {
			padding-left: 15%;
		}

		/*  Main navigation > Logo */
		.main-nav .logo {
			height: 100%;
			left: 2%;
			margin: 0;
			position: absolute;
			top: 2%;
			width: 20%;
		}

			.main-nav .logo a {
				height: 80px;
			}

		.is-home .main-nav {
			padding-left: 0;
		}

		.is-home .main-nav .logo {
			position: static;
			width: 100%;
		}

		/*  Home navigation > item links  */
		.home-nav li {
			width: 32%;
		}
}