/* 2.2. Home
   ========================================================================== */

.home {
	color: #444;
    font-size: 1.3em;
}

.home.is-visible {
	transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    -webkit-transition-delay: 0.3s;

    transform: translate3d(0px,20%,0px);
    -moz-transform: translate3d(0px,20%,0px);
    -webkit-transform: translate3d(0px,20%,0px);
}

	.home p {
		font-family: 'Raleway', sans-serif;
		font-size: 1.2em;
	}

	.home strong {
		font-size: 2em;
		line-height: 1.2em;
	}
 
	.home-nav {
	    margin: 5% auto;
	    max-width: 700px;
	    perspective: 1000;
	    -webkit-perspective: 1000;
	    transform-style: preserve-3d;
	    -webkit-transform-style: preserve-3d;
	}

	/*  Home navigation > item links  */
	.home-nav li {
	    display: inline-block;
	    margin: 0.5em;
	    width: 20%;
	}

	    .home-nav a {
	        background-color: #C6C5C1;
	        border-radius: 5%;
	        color: #444;
	        font-size: 0.8em;
	        font-family: 'Raleway', sans-serif;
	        line-height: 6.5em;
	        display: block;
	        text-transform: uppercase;
	        height: 100%;
	        width: 100%;
	        transition: all 0.5s;
	        -o-transition: all 0.5s;
	        -moz-transition: all 0.5s;
	        -webkit-transition: all 0.5s;
	    }

	    .home-nav a:hover {
	        background-color: #0099CC;
	        color: #fff;
	    }

/* ==========================================================================
   Media Queries
   ========================================================================== */

/**
 * Mobile
 * 768px
 */
@media only screen and (max-width: 48em) {
    .home.is-visible {
		transition-delay: 0.3s;
	    -moz-transition-delay: 0.3s;
	    -webkit-transition-delay: 0.3s;

	    transform: translate3d(0px,2%,0px);
	    -moz-transform: translate3d(0px,2%,0px);
	    -webkit-transform: translate3d(0px,2%,0px);
	}

	/*  Home navigation > item links  */
	.home-nav li {
	    width: 40%;
	}
}

/**
 * Tablet Landscape
 * 1024px
 */
@media only screen and (min-width: 48.1em) and (max-width: 64em) {
    
}