/* 3.1. Form
   ========================================================================== */

form {
	text-align: left;
}

label {
	display: block;	
	margin-bottom: 3px;
}

input,
.error,
textarea {
	background-color: #eee;
	border: none;
	box-sizing: border-box;
	color: #6C6567;
	display: block;
	font-size: 1.1em;
	padding: 5px 15px;
	width: 100%;
}

form p {
	position: relative;
}

.form-field {
	position: relative;
}

.error {
	background-color: rgb(153, 0, 0);
	background-color: rgba(153, 0, 0, 0.7);
	color: #fff;
	position: absolute;
	top: 0;
	height: 100%;

	transition: 0.4s;
    -o-transition: 0.4s;
    -moz-transition: 0.4s;
    -webkit-transition: 0.4s;

    -o-transform: rotateX(90deg);
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
}

.is-invalid {
	-o-transform: rotateX(0deg);
	-webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
}

.submit-button {
	background-color: #0099CC;
	border: none;
	color: #fff;
	font-size: 2em;
	padding: 10px;
	text-align: center;
	width: 30%;
}

	.submit-button:hover i:before {
		content: "\e601";
	}

/**
 * Mobile
 * 768px
 */
@media only screen and (max-width: 48em) {
	.submit-button {
		width: 100%;
	}
}