/**
  * block: button
  * .button
  */
.button {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 0.25em 1em;
  text-align: center;

  &:hover {
    background-color: color(var(--color-primary) blackness(20%));
  }
}

/**
  * block: link
  * .link
  */
.link {
  &:hover {
    text-decoration: underline;
  }
}
