/**
 * Default settings
 */
:root {
  --font-size: 20px;

  /**
   * Colors Palette
   */
  --color-light: #c6c4c0;
  --color-dark: #737373;
  --color-blue: #287bb6;
}

/**
 * Media queries
 */
@custom-media --small-viewport (max-width: 30em);
