/**
 * Default settings
 */
:root {
  --font-size-sm: 18px;
  --font-size-md: 21px;

  /**
   * Fonts
   */
  --font-primary: 'Lato', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
  --font-secondary: 'Open Sans', Arial, sans-serif;
  --font-tertiary: 'Merriweather', serif;

  /**
   * Colors Palette
   */
  --color-white: #fff;
  --color-lighter: #f3f3f3;
  --color-light: #c6c4c0;
  --color-dark: #737373;
  --color-darker: #5d5a58;
  --color-primary: #287bb6;
}

/**
 * Media queries
 */
@custom-media --small-viewport (max-width: 48em);
