/*------------------------------------------------------------------
[Master Stylesheet]

Project:    El Charco Azul
Version:    1.0
Author:    jandrade

--------------------------------------------------------------------
[Table of contents]

1. Base
2. Layout
    2.1. Master
        2.1.1. Header
        2.1.2. Content
        2.1.3. Footer
    2.2. Home
    2.3. About
    2.4. Projects
    2.5. Contact
3. Module
    3.1. Form
    3.2. Grid
    3.3. Carousel
4. State
5. Theme

-------------------------------------------------------------------*/

/* ==========================================================================
   1. Base
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body,
html {
	height: 100%;
}

body {
    background-color: #f5f5f5;
    font-family: 'Titillium Web', sans-serif;
    font-size: 100%; /* 16px */
    font-weight: 300;
    line-height: 1.2;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

ul {
	margin: 0;
	padding: 0;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

a {
    color: #000;
    text-decoration: none;
}


/* ==========================================================================
   2. Layout
   ========================================================================== */

/* 2.1. Master
   ========================================================================== */

#wrapper {
	margin: 2% auto;
	text-align: center;
    width: 80%;
}

/* 2.1.1. Header
   __________________________________________________________________________ */

header {
	opacity: 0;
	visibility: hidden;
	width: 100%;

	transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;

    transform: translate3d(0px,0,0px);
    -moz-transform: translate3d(0px,0,0px);
    -webkit-transform: translate3d(0px,0,0px);
}

	/*  Home navigation  */
	.is-home header {
	    transform: translate3d(0px,60%,0px);
	    -moz-transform: translate3d(0px,60%,0px);
	    -webkit-transform: translate3d(0px,60%,0px);

	    transition-delay: 0.3s;
	    -moz-transition-delay: 0.3s;
	    -webkit-transition-delay: 0.3s;
	}

		/*  Home navigation > hidden links  */
		header .page {
			transition: opacity 0.5s 0.5s;
		    -moz-transition: opacity 0.5s 0.5s;
		    -webkit-transition: opacity 0.5s 0.5s;
		    
			opacity: 1;
			visibility: visible;
		}

		.is-home .page {
			opacity: 0;
			visibility: hidden;

			transition-delay: 0s;
		    -moz-transition-delay: 0s;
		    -webkit-transition-delay: 0s;
		}

	/*  Main navigation  */
	.main-nav {
	    font-size: 1em; /* 16px / 16px */
	}

		.main-nav li {
		    display: inline-block;
		    height: 10%;
		    line-height: 40px;
		    margin: 0 1% 1% 1%;
		    vertical-align: bottom;
		    width: 17%;
		    perspective: 1000;
		    -webkit-perspective: 1000;
		}
			/*  Main navigation > Links */
			.main-nav a {
			    border-bottom: 1px solid #C6C5C1;
			    color: #6C6567;
			    display: block;
			    height: 100%;
			    transition: all 0.6s;
			    -webkit-transition: all 0.4s;
			}

			.main-nav a:hover,
			.main-nav a.current {
			    color: #000;
			    border-width: 3px;
			    border-color: #7B2D30;
			}

			/*  Main navigation > Logo */
				.logo a {
				    border: none;
				    padding-top: 0;
				}

/* 2.1.2. Content
   __________________________________________________________________________ */

.main-content {
	margin: 0 auto;
	min-height: 500px;
	overflow: hidden;
	position: relative;
	width: 94%;
}
	
	section {
	    height: 0;
	    left: 0;
	    margin: 0;
	    opacity: 0;
	    visibility: hidden;
	    position: absolute;
	    top: 0;
	    width: 100%;

	    transform: translate3d(0px,0px,0px);
    -moz-transform: translate3d(0px,0px,0px);
    -webkit-transform: translate3d(0px,0px,0px);
	   
	    transition: all 0.5s;
	    -moz-transition: all 0.5s;
	    -webkit-transition: all 0.5s;
	}

	section.is-open {
		margin-top: 0;
		transition-delay: 0.3s;
	    -moz-transition-delay: 0.3s;
	    -webkit-transition-delay: 0.3s;
	}

		section h1 {
			text-transform: uppercase;
		}

/* 2.1.2. Footer
   __________________________________________________________________________ */

#footer {
	border-top: 1px solid #ccc;
	margin: 30px auto 10px auto;
	padding-bottom: 1%;
	padding-top: 1%;
	text-align: center;
	width: 92%;

	transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.is-home #footer {
	width: 90%;
}

/* 2.2. Home
   ========================================================================== */

.home {
	color: #444;
    font-size: 1.3em;
}

.home.is-visible {
	transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    -webkit-transition-delay: 0.3s;

    transform: translate3d(0px,20%,0px);
    -moz-transform: translate3d(0px,20%,0px);
    -webkit-transform: translate3d(0px,20%,0px);
}

	.home strong {
		font-size: 1.5em;
		line-height: 2em;
	}
 
	.home-nav {
	    margin: 5% auto;
	    max-width: 700px;
	    perspective: 1000;
	    -webkit-perspective: 1000;
	    transform-style: preserve-3d;
	    -webkit-transform-style: preserve-3d;
	}

	/*  Home navigation > item links  */
	.home-nav li {
	    display: inline-block;
	    height: 100px;
	    margin: 10px;
	    width: 20%;
	}

	    .home-nav a {
	        background-color: #C6C5C1;
	        color: #444;
	        font-size: 0.8em;
	        line-height: 5.5em;
	        display: block;
	        text-transform: uppercase;
	        height: 100%;
	        width: 100%;
	        transition: all 0.5s;
	        -o-transition: all 0.5s;
	        -moz-transition: all 0.5s;
	        -webkit-transition: all 0.5s;
	    }

	    .home-nav a:hover {
	        border-radius: 2%;
	        background-color: #7B2D30;
	        color: #DEDEDE;
	    }

/* 2.3. About
   ========================================================================== */


/* 2.4. Projects
   ========================================================================== */
.projects {
	position: relative;
}
	
	.projects img {
		float: left;
		margin: 3px;
	}

/* 2.5. Contact
   ========================================================================== */


/* ==========================================================================
   3. Module
   ========================================================================== */

/* 3.1. Form
   ========================================================================== */

form {
	margin-left: 10%;
	text-align: left;
	width: 80%;
}

label {
	display: block;	
	margin-bottom: 3px;
}

input,
.error,
textarea {
	background-color: #eee;
	border: none;
	box-sizing: border-box;
	color: #6C6567;
	display: block;
	font-size: 1.1em;
	padding: 5px 15px;
	width: 100%;
}

form p {
	position: relative;
}

.form-field {
	position: relative;
}

.error {
	background-color: rgb(153, 0, 0);
	background-color: rgba(153, 0, 0, 0.7);
	color: #fff;
	position: absolute;
	top: 0;
	height: 100%;

	transition: 0.4s;
    -o-transition: 0.4s;
    -moz-transition: 0.4s;
    -webkit-transition: 0.4s;

    -o-transform: rotateX(90deg);
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
}

.is-invalid {
	-o-transform: rotateX(0deg);
	-webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
}

.submit-button {
	background-color: #7B2D30;
	border: none;
	color: #fff;
	padding: 10px;
	text-align: center;
	width: 30%;
}

/* 3.2. Grid
   ========================================================================== */
.grid {
    perspective: 1000;
    -moz-perspective: 1000;
    -webkit-perspective: 1000;
    font-size:0;
    width: 100%;
}

	.tile {
		font-size: 1em;
	    color: #fff;
	    display: inline-block;
	    height: 32%;
	    margin: 0.3%;
	    width: 24%;
	    
	    transition: 0.6s;
	    -moz-transition: 0.6s;
	    -webkit-transition: 0.6s;
	    transform-style: preserve-3d;
	    -moz-transform-style: preserve-3d;
	    -webkit-transform-style: preserve-3d;

	    position: relative;
	}

		.tile a {
			display: block;
			height: 100%;
			width: 100%;
		}

			.tile .front:hover {
				background-color: red;
			}

		.front, .back {
		    backface-visibility: hidden;
		    -webkit-backface-visibility: hidden;
		    height: 100%;
		    position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		}

		.front {
		    background-color: #000;
		    z-index: 2;
		}

		.back {
		   	transform: rotateY(180deg);
		    -moz-transform: rotateY(180deg);
		    -webkit-transform: rotateY(180deg);
		     z-index: 3;
		}

	.tile.detail {
		-ms-transform: rotateY(180deg);
		-o-transform: rotateY(180deg);
		-webkit-transform: rotateY(180deg);
	    -moz-transform: rotateY(180deg);
		transform: rotateY(180deg);
	    
	    margin: 0;
	}

		.project-info {
			background-color: rgba(0,0,0,0.8);
		    box-sizing: border-box;
		    color: #fff;
		    font-size: 0.8em;
		    opacity: 0;
		    padding: 20px;
		    position: absolute;
			right: 2%;
			text-align: left;
			top: 55px;
			visibility: hidden;
			width: 50%;
		    
		    transition: 0.4s 0s;
		    -moz-transition: 0.4s 0s;
		    -webkit-transition: 0.4s 0s;

		    transform: rotateX(90deg) translate3d(0px,-200px,0px);
		    -webkit-transform: rotateX(90deg) translate3d(0px,-200px,0px);
		    -moz-transform: rotateX(90deg) translate3d(0px,-200px,0px);

		}

		.back-button {
			opacity: 0;
			visibility: hidden;
		}

		.detail .back-button {
				opacity: 0;
				visibility: hidden;
			}

		.detail .project-info {
			opacity: 1;
		    visibility: visible;
		    
		    transition-delay: 0.4s;
		    -moz-transition-delay: 0.4s;
		    -webkit-transition-delay: 0.4s;

		    transform: rotateX(0deg) translate3d(0px,0px,0px);
		    -webkit-transform: rotateX(0deg) translate3d(0px,0px,0px);
		    -moz-transform: rotateX(0deg) translate3d(0px,0px,0px);
		}

		.project-info.is-collapsed {
			height: 0;
			width: 0;
			transition-delay: 0.4s;
		    -moz-transition-delay: 0.4s;
		    -webkit-transition-delay: 0.4s;
		 }

		 .project-info.is-openned {
		 	height: 80px;
		 	transition-delay: 0s;
		    -moz-transition-delay: 0s;
		    -webkit-transition-delay: 0s;
		 }

			.is-openned p {
				opacity: 1;
				transition: 0.4s 0.4s;
			    -moz-transition: 0.4s 0.4s;
			    -webkit-transition: 0.4s 0.4s;
			}
  		

			.project-info p {
				height: auto;
				margin: 0;
				opacity: 1;
			}

			.is-collapsed p {
				height: 0;
				opacity: 0;
				transition: 0.4s 0s;
			    -moz-transition: 0.4s 0s;
			    -webkit-transition: 0.4s 0s;
			
			}
  
  			.project-info .default-button {
  				position: absolute;
  				right: 0;
  				top: 0;
  			}

  			.project-info .info-button {
  				display: none;
  			}

  			.is-collapsed .info-button {
  				display: block;
  				right: 0;
  				top: 0;
  			}

  			.project-info .close-button {
  				display: block;
  			}

  			.is-collapsed .close-button {
  				display: none;
  			}

  	.section-content {
  		height: 100%;
  		position: relative;
  		width: 100%;
  	}

  	

  		
/* 3.3. Carousel
   ========================================================================== */

.carousel {
	background-color: #ddd;
	height: 100%;
	left: 0;
	overflow: hidden;
	
	top: 0;
	width: 100%;

	perspective: 1000;
	-webkit-perspective: 1000;
}

.carousel .mask {
	transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;

    transform: translate3d(0px,0,0px);
    -moz-transform: translate3d(0px,0,0px);
    -webkit-transform: translate3d(0px,0,0px);
}

	.prev-btn,
	.next-btn {
		background-color: #ccc;
		background-color: rgba(150,150,150,0.7);
		font-size: 3em;
		padding: 3%;
		left: 0;
		position: absolute;
		top: 42%;
		z-index: 1;
	}

	.next-btn {
		left: auto;
		right: 0;
	}

	.carousel img {
		float: left;
		margin: 0;
	}


/* ==========================================================================
   4. State
   ========================================================================== */
	.is-visible {
		height: auto;
	    opacity: 1;
	    visibility: visible;
	}

	.rotate {
        display: none;
        opacity: 0;
        transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
    }

    .reverse {
        opacity: 1;
        transform: rotateY(0deg);
        -webkit-transform: rotateY(0deg);
    }

    .r-align {
    	text-align: right;
    }
/* ==========================================================================
   5. Theme
   ========================================================================== */

	.default-button {
		background-color: rgba(123,45,48,0.8);
		color: #fff;
		display: block;
		font-size: 1.5em;
		height: 40px;
		line-height: 40px;
		text-align: center;
		width: 40px;

		 transition: 0.3s;
	    -moz-transition: 0.3s;
	    -webkit-transition: 0.3s;
	}

		.default-button:hover {
			background-color: rgba(123,45,48,1); /*	#7B2D30	*/
		}

/* 5.1. Home
   ========================================================================== */


/* ==========================================================================
   Media Queries
   ========================================================================== */

/* 768 / 16 */
@media only screen and (max-width: 48em) {
	body {
		background-color: red;
	}

	#wrapper:before {
		background-color: blue;
		color: white;
		content: '<768px';
		left: 0;
		position: absolute;
		top: 0;
		z-index: 1;
	}

	#wrapper {
		width: 90%;
	}
	
		.is-home .main-nav .page {
			display: none;
		}
		/*  Main navigation > Logo */
		.main-nav .logo {
			margin: 0;
			width: auto;
		}

		/*  Home navigation > item links  */
		.home-nav li {
			width: 32%;
		}
}

/* 1024 / 16 */
@media only screen and (min-width: 48.1em) and (max-width: 64em) {
	body {
		background-color: green;
	}
}